#profile_card {
	height:100%;
	width: 33%;
	float: right;
	background-color: darkblue;
	border-style: solid;
	border-width: 1.5em;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.description {
	position:relative;
	color:white;
	width:100%;
}

img {

	float: left;
	height: 35%;
	width: 65%;
	border-bottom: 1px inset grey;
	margin-left: 5%;
}


h3{
	clear: both;
	margin-left: 5%;
}

h3.name {
	font-size: 2em;
	color: #FF0000;
	font-weight: 900;
}

h3.about {
	padding-top: 5%;
	color: #FF0000;
	font-weight: 900;
}

.back {
	margin-top:-1em;
	padding: 5%;
	font-size: 16px;
	color: yellow;
	font-weight: 400;

}

p.back, p.back2home {
	font-size: 2em;
	color: red;
	font-weight: 900;
}

a.back, a.back2home {
	
	text-decoration: none;
	color: red;
	font-size: 16px;
	font-weight: 900;

}

.back2home {
	margin-top:-3em;
	float:right;
}

@media (max-device-width:1024px){
 #profile_card {
 	background-color:black;
 }
}

@media (max-device-width:600px){
 #profile_card {
 	background-color:grey;
 }

 .description{
 	color:black;
 	font-weight:bold;
 }
}

@media (max-device-width:360px){
 #profile_card {
 	background-color:#2F4F4F;
 }

  .description{
 	color:white;
 }
}

@media (max-device-width:360px) and (min-device-height:200px),
       (max-device-width:600px) and (min-device-height:200px),
       (max-device-width:1024px) and (min-device-height:200px){
  
  #profile_card{
    position:relative;
  	margin-top:-1em;
  	width:98vw;
  	height:110vh;
  	font-size:3em;
  }

  p.back, p.back2home {
  	font-size:3em;
  }

  a.back, a.back2home {
    font-size:0.3em;

  }

  p.back2home{
  	position:relative;
  	top:0.5em;
  	left:-2em;
  	width:4em;
  }

  p.back{
  	position:relative;
  	top:0.5em;
  	left:0.2em;
  }

}

@media (min-width:600px) and (min-height:200px){
	#profile_card{
		height:120vh;
	}
}

